<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="{{ path('home') }}"><img src="http://localhost/stage/projectMolecule/public/img/icon.png"></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li><a class="nav-link" href="{{ path('molecules') }}">Molecules</a></li>

            <li>
                <a class="nav-link" href="{{ path('molecules_name', {'id': 3}) }}">H2O</a>
            </li>
        </ul>
        <div class="nav navbar-nav navbar-right">
            <li>
                <a class="nav-link" href="{{ path('adminLogin') }}">Log in</a>
            </li>
        </div>
    </div>
</nav>
!-->



<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <a class="navbar-brand" href="{{ path('home') }}"><img src="http://localhost/stage/projectMolecule/public/img/icon.png"></a>
    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" href="{{ path('home') }}">Company name</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark hvr-grow" href="{{ path('home') }}">Home</a>
        <a class="p-2 text-dark hvr-grow" href="{{ path('molecules') }}">Molecules</a>
        <a class="p-2 text-dark hvr-grow" href="{{ path('molecules_name', {'id': 3}) }}">H2O</a>
    </nav>
    <div class="separator">
    </div>
    <a class="p-2 text-dark hvr-grow" href="{{ path('adminLogin') }}">Log in</a>
</div>