{% extends 'baseAdmin.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}



{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <body id ="loginForm">
        <h1 id="h3Login" class="h3 mb-3 font-weight-normal">Complete the form</h1>
        <div id="moleculeForm">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.scientificName) }}
                </div>
                <div class="col-sm-12">
                    {{ form_row(form.description) }}
                    {{ form_row(form.path) }}
                    <div class="text-center">
                        {{ form_row(form.submit) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </body>
{% endblock %}
