{% extends 'baseAdmin.html.twig' %}

{% block body %}

    {% for us in user %}


        <div class="wel_header mt-5">
            <h2>Welcome {{ us.username }}</h2>
            <h4 class="mb-5">Last molecules add</h4>
        </div>
    {% endfor %}

    <div class="container">
        <div class="row mb-2">
            {% for lastMolecule in last %}
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">{{ lastMolecule.name }}</strong>
                        <h3 class="mb-0">
                            <p class="text-dark" href="#">{{ lastMolecule.scientificName }}</p>
                        </h3>
                        <div class="mb-1 text-muted"></div>
                        <p class="card-text mb-auto">{{ lastMolecule.description|length > 120 ? lastMolecule.description|slice(0, 120) ~ ' ...' : lastMolecule.description  }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="wel_header mt-5">

        <h4 class="mb-5">Molecules with the highest priority</h4>

        </div>

        <div class="row mb-2">
            {% for priorityMolecule in priority %}
                <div class="col-lg-4 col-md-12">
                    <div class="card text-center box-shadow">
                        <div class="card-content">
                            <div class="card-body">
                                <h4 class="card-title success">{{ priorityMolecule.name }}</h4>
                                <h3 class="mb-0">
                                    <p class="text-dark" href="#">{{ priorityMolecule.scientificName }}</p>
                                </h3>
                                <hr>
                                <p class="card-text">{{ priorityMolecule.description|length > 150 ? priorityMolecule.description|slice(0, 150) ~ ' ...' : priorityMolecule.description  }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

