{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <div class="wel_header mt-5">
            <h2>Molecule List</h2>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="name" scope="col">Name</th>
                    <th class="scientific" scope="col">Scientific</th>
                    <th scope="col">Description</th>
                    <th class="modify"scope="col">Modify</th>
                </tr>
            </thead>
            <tbody>
                {% for list in moleculeList %}
                    <tr>
                        <td>{{ list.name }}</td>
                        <td>{{ list.scientificname }}</td>
                        <td>{{ list.description }}</td>
                        <td>
                            <div class="row text-center">
                                <div class="col-6">
                                    <a href="{{ path('edit', { 'id': list.id }) }}" class="hvr-icon-bounce">
                                       <h5> Edit <i class="fas fa-edit hvr-icon"></i></h5>
                                    </a>
                                </div>

                                <div class="col-6">
                                    <a class="hvr-icon-bounce" href="{{ path('delete', { 'id': list.id })}}">
                                        <h5>Delete <i class="fa fa-times hvr-icon"></i></h5>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete molecule</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete the molecule ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        table, th, td {
        border: 1px solid black;
        }
        .modify{
            min-width: 280px;
        }
        .scientific{
            min-width: 200px;
        }
        .name{
            min-width: 150px;
        }
</style>
{% endblock %}
